body {
    width: 330px;
    display: flex;
    align-items: center;
}

#container {
    border: 2px solid grey;
    padding: 20px;
    box-shadow: 6px 6px 1px 0px #EBEBEB;
}

img {
    width: 300px;
    height: auto;
    padding-bottom: .8em;
}

.interesting-fact{
    padding: 10px;
    font-style: italic;
}

.animal-info {
    font-style: normal;
    border: 2px solid grey;
    padding: 1px;
}

li {
    list-style: none;
}

span {
    font-weight: bold;
}

.text {
    padding: 10px;
	hyphens: auto; 
	text-align: justify
}